#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 60px;
}

.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .box{
    height: 600px;
    width: 300px;
    margin: 20px;
  }
}